*{margin: 0px;
  padding:0px;  
}
body{
    background-color:white;
    width: 1430px;
    height:1700px;
    background-position-x: 0;
    background-position-y: 0;
}
header{
    background-color: #131832;
    width:1440px;
    height:140px;
    background-position-x: 0;
    background-position-y: 0;
}
.fundo{
    background-image: linear-gradient(#EAC1F9, #7DB7CD);
}
.nome{
    position:absolute;
    right: 71px;
    top:22px;
}
.cabeçalho-imagem{
    position:absolute;
    right: 500px;
    top: 22px;
}